*.iml
.gradle
.gradle-user/
.gradle-user-home/
.gradle-user-cli/
.gradle-user-home-version/
.gradle-user-home-ads/
.gradle-user-test/
.gradle-user-test-run/
.gradle-user-settings-run/
/local.properties
/.android-user/
/.idea/
/.kotlin/
/android-maps3d-samples-main/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
push.bat
/docs/code-index/
